<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend. Сайты. Веб приложения. Разработчик Коновченко Богдан.</title>
    <meta name="description" content="Персональный сайт Богдана Коновченко. Заказать сайт. Frontend разработчик." />
    <meta name="keywords" content="frontend, разработка, сайт, web, программист, посадочная страница" />
    <meta name="author" content="Коновченко Богдан" />

    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44467063 = new Ya.Metrika({ id:44467063, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44467063" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <link href="/css/screen.css" rel="stylesheet">

</head>
<body id="work-page-drone">

<header class="header">
    <ul class="header-navbar">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/skills.html">Навыки</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
</header>

    <div class="work-header">
        <div class="header"></div>
        <h3 class="work-header_title">Drone1</h3>
        <img src="/img/Drone1-mock.png" alt="" class="work-header_image">
    </div>

    <div class="work-container">
        <div class="work-text">
            <div class="work-text-article">
                <h4 class="work-text_title">UI/UX</h4>
                <p class="work-text_para">Для проекта интернет-магазина был выбран material стиль. Для форм и модульных окна использовался material стиль. Мы старались сделать интерфейс максимально информативным, а загрузку страниц быстрой.</p>
            </div>

            <div class="work-text-article">
                <h4 class="work-text_title">Верстка макетов</h4>
                <p class="work-text_para">Главной и, пожалуй, самой сложной задачей было проработать интерфейс под все виды устройств и разрешений. Мало крупных магазинов имеют в своём арсенале возможность адаптировать дизайн, но у нас это получилось и мы очень гордый этим. Данные модули в дальнейшем можно использовать для любых магазинов компании.</p>
            </div>

            <div class="work-text-article">
                <h4 class="work-text_title">Адаптив</h4>
                <p class="work-text_para">Было сверстано порядка 30 уникальных страниц для трех разрешений. На вёрстку потребовалось два месяца разработки.</p>
            </div>

            <div class="work-text-article">
                <h4 class="work-text_title">Frontend сценарии</h4>
                <p class="work-text_para">Основная идея была сделать сайт модульных, быстрым, отзывчивым и без лишних обновлений страниц. Для этого были разработаны классы, которые потом применялись в модулях виджетов. Виджет - уникальный блок страницы, которая может повторяться на разных вьюхах сайта.</p>
            </div>
        </div>
    </div>

    <div class="work-link">
        <a href="https://drone1.ru/">Ссылочка на проект</a>
    </div>

    <!--<div class="work-example">-->
        <!--<h4 class="work-example_title">Главная страница</h4>-->
        <!--<p class="work-example_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquid aperiam deleniti dolor dolorem et maiores nisi nobis possimus, praesentium quae quas quasi quo rem reprehenderit sint totam, veritatis.</p>-->
        <!--<img src="/img/laptop-mockup.png" alt="" class="work-example_image">-->
    <!--</div>-->

    <a href="/works/mobila.html" class="work-next">
        <div>
            <span class="work-next_sub">следующий</span>
        </div>
        <span class="work-next_title">Mobila</span>
    </a>

    <script src="js/application.min.js"></script>
</body>
</html>
