<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend. Сайты. Веб приложения. Разработчик Коновченко Богдан.</title>
    <meta name="description" content="Персональный сайт Богдана Коновченко. Заказать сайт. Frontend разработчик." />
    <meta name="keywords" content="frontend, разработка, сайт, web, программист, посадочная страница" />
    <meta name="author" content="Коновченко Богдан" />

    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44467063 = new Ya.Metrika({ id:44467063, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44467063" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <link href="/css/screen.css" rel="stylesheet">

</head>
<body id="work-page-logomachine">

<header class="header">
    <ul class="header-navbar">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/skills.html">Навыки</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
</header>

<div class="work-header">
    <div class="header"></div>
    <h3 class="work-header_title">Logomachine</h3>
</div>

<div class="work-container">
    <div class="work-text">

        <div class="work-text-article">
            <h4 class="work-text_title">Верстка макетов</h4>
            <p class="work-text_para">Для партнеров компании "Персональное решение" разрабатывались одностраничники с формой обратного звонка и email письма. Каждые три дня приходил на разработку новый сайт по общему шаблону, поэтому было предпринято решение разработать сборщик проекта, в котором следовало лишь изменять параметры цветов, отсутпов, шрифтов, картинок и текста. Так, задача, занимающая ранее 3 суток, стала занимать 4 часа вместе с тестированием и нарезкой макетов.</p>
        </div>
    </div>
</div>

<div class="work-link">
    <a href="http://logomachine.ru/">Ссылочка на проект</a>
</div>

<!--<div class="work-example">-->
<!--<h4 class="work-example_title">Главная страница</h4>-->
<!--<p class="work-example_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquid aperiam deleniti dolor dolorem et maiores nisi nobis possimus, praesentium quae quas quasi quo rem reprehenderit sint totam, veritatis.</p>-->
<!--<img src="/img/laptop-mockup.png" alt="" class="work-example_image">-->
<!--</div>-->

<a href="/works/frenchrabbit.html" class="work-next">
    <div>
        <span class="work-next_sub">следующий</span>
    </div>
    <span class="work-next_title">Frenchrabbit</span>
</a>

<script src="js/application.min.js"></script>
</body>
</html>
