
.left-title{
  position: absolute;
  top: 50%;
  left: 40px;
  z-index: 100;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-family: @font-base;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header{
  position: absolute;
  z-index: 100;
  left: 70px;
  top: 30px;

  &-navbar{
    padding: 0;
    margin: 0;

    li{
      display: inline-block;
      margin-right: 20px;

      a{
        font-family: @font-base;
        font-size: 18px;
        font-weight: 300;
        color: #333;
        text-decoration: none;
        opacity: .8;
        transition: opacity .2s;

        &:hover{
          opacity: 1;
        }
      }
    }
  }
}

@media(max-width: 767px){
  .header{
    left: 20px;
    top: 20px;

    &-navbar{

      li{
        margin-right: 10px;

        a{
          font-size: 14px;
        }
      }
    }
  }

  .left-title{
    display: none;
  }
}