<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Superbog</title>

    <link href="/css/screen.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <ul class="header-navbar">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/skills.html">Навыки</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
</header>

<h1 class="left-title">Богдан Коновченко</h1>

<div class="container">
    <div class="contact-container">
        <h2 class="contact-container_title">Контакты</h2>
        <p class="contact-container_text">Привет! Меня зовут Богдан, я frontend разработчик из Санкт-Петербурга.<br>
        Я учусь в <a href="http://www.spbstu.ru/">Политехе</a> на специальности компьютерных технологий.<br><br>
        В разработке мне нравится прогрессировать с каждым проектом, писать лаконичный код и приносить пользу заказчикам.<br>
        Стараюсь помочь бизнес-проекту, в котором принимаю участие.<br><br>
        Свяжитесь со мной удобным способом:
        <a href="tel:+79992006637">+7 999 200 66 37</a> <a href="mailto:bogfront@gmail.com">Gmail</a> <a href="https://vk.com/superbog">Vk</a>
            <a href="https://telegram.me/superbog">Telegram</a></p>
    </div>
</div>


<script src="js/application.min.js"></script>
</body>
</html>
