<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Superbog</title>

    <link href="/css/screen.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <ul class="header-navbar">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/skills.html">Навыки</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
</header>

<div class="skills-header">
    <h3 class="skills-header_title">Навыки</h3>
</div>

<div class="skills-container">
    <div class="skills-table">

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">JavaScript</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">7 лет</div>
                </div>
                <p>Основой frontend разработки является проектирование js-сценариев. Ежедневно развиваюсь в этом направление: пробую новые библиотеки, изучаю новые стандарты, а также изучаю алгоритмизацию, паттерны проектирования и ООП-подход к разработке клиентской части приложения.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">HTML5</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">10 лет</div>
                </div>
                <p>Начинал изучать с табличной верстки первого сайта еще в школе. Сейчас же использую верстку с применением стандартов HTML5. Главной задачей для себя всегда ставлю лаконичный, валидный код с применением БЭМ методологии.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">CSS3</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">10 лет</div>
                </div>
                <p>Стараюсь реализовывать с помощью современного стандарта любые идеи, которые видел на сайтах, удостоенных премий сайта awwwards.com. Нет ничего невозможного, что бы не задумал дизайнер. Это лишь вопрос времение и необходимых знаний.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">Gulp</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">3 года</div>
                </div>
                <p>В инструментах фронтенда обязательно должен быть сборщик, способный на многое: запускать локальный сервер, автоматические показывать обновления в коде, минифицировать, запускать препроцессоры, адаптировать кроссбраузерно код и даже подсчитывать премя, проведенное за разработкой.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">Webpack</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">1,5 года</div>
                </div>
                <p>Еще один полюбившийся мне сборщик. У него есть свои особенности вроде обновления блока, а не всей страницы и приемущественно более высокая скорость отработки, что не может не радоавть в больших проектах, над которыми я работаю последние полтора года.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">LESS</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">3 года</div>
                </div>
                <p>Отличный препроцессор, который помогает сильно уменьшить количество кода в стилях CSS. Особенно полезн для написания кода с БЭМ методологией. После начала его применения забыл, что такое нагромождение кода и путаница в нем.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">Typescript</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">1 год</div>
                </div>
                <p>Данный язык программирования хорошо расширяет возможности стандартного JavaScript. На нем проще программировать, используя объектно-ориентированный подход разработки. А также сильно помогает типизация во время разработки.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">Bootstrap 3</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">4 года</div>
                </div>
                <p>Фреймворк, который сильно помогает мне в верстке сайтов, лендингов и одностраничных приложений. Его готовые компоненты и возможность собрать свой набор не оставляют шансов обойти стороной. Хорош для быстрого старта.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">jQuery</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">6 лет</div>
                </div>
                <p>JS библиотека, которая упрощает работу с блоками на сайте, выполнение запросов и событий. Также это доступ к множеству плагинов, которые улучшат UI/UX приложения.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">Angular</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">2 года</div>
                </div>
                <div class="object">
                    <div class="key">Версия:</div>
                    <div class="value">1 и 2</div>
                </div>
                <p>Данный фреймворк брался за основу в написании модулей в последних двух проектах. Очень удобно написать модуль, а потом использовать его, написав всего одну строку куда. Также предоставляет мощный функционал, который отлично подойдет для одностраничных приложений. </p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">PHP</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">3 года</div>
                </div>
                <p>Серверный язык использую в основном при работе с backend-разработчками. Знаком с синтаксисом и могу написать пару строк в модулях, но полноценных приложений самостоятельно не разрабатывал.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">Python</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">2 года</div>
                </div>
                <p>Язык программирования, на котором я запуская локальный сервер для тестирования сайтов и виджетов на них. Работаю с Django. В ближайшее время планирую написать блог и api для камеры наблюдения. Данный язык использую для выполнения задач на Codewars.</p>
            </div>
        </div>
    </div>
</div>

<script src="js/application.min.js"></script>
</body>
</html>
