<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Superbog</title>

    <link href="/css/screen.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <ul class="header-navbar">
        <li><a href="/skills.html">Навыки</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
</header>

<div class="skills-header">
    <h3 class="skills-header_title">Навыки</h3>
</div>

<div class="skills-container">
    <div class="skills-table">

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">JavaScript</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">7 лет</div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus dicta eaque eligendi eos facilis molestiae mollitia necessitatibus nemo nesciunt, omnis quia quod recusandae repellendus rerum ut, vitae voluptatibus.</p>
            </div>
        </div>

        <div class="skills-table-card">
            <div class="skills-table-card_head">
                <div class="title">JavaScript</div>
            </div>
            <div class="skills-table-card_info">
                <div class="object">
                    <div class="key">Опыт:</div>
                    <div class="value">7 лет</div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus dicta eaque eligendi eos facilis molestiae mollitia necessitatibus nemo nesciunt, omnis quia quod recusandae repellendus rerum ut, vitae voluptatibus.</p>
            </div>
        </div>
    </div>
</div>

<script src="js/application.min.js"></script>
</body>
</html>
