<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend. Сайты. Веб приложения. Разработчик Коновченко Богдан.</title>
    <meta name="description" content="Персональный сайт Богдана Коновченко. Заказать сайт. Frontend разработчик." />
    <meta name="keywords" content="frontend, разработка, сайт, web, программист, посадочная страница" />
    <meta name="author" content="Коновченко Богдан" />

    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44467063 = new Ya.Metrika({ id:44467063, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44467063" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <link href="/css/screen.css" rel="stylesheet">

</head>
<body>

<header class="header">
    <ul class="header-navbar">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/skills.html">Навыки</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
</header>

<div class="order-header">
    <div class="header"></div>
    <h3 class="order-header_title">Заборы</h3>
</div>

<div class="order-container">
    <div class="order-text">
        <div class="order-text-article">
            <h4 class="order-text_title">Необходимые задачи</h4>
            <ul>
                <li><p class="order-text_para">Перечислить виды услуг</p></li>
                <li><p class="order-text_para">Для каждой услуги несколько фотографий, текст описания, срок выполнения работ, стоимость</p></li>
                <li><p class="order-text_para">Описать себя: сколько занимаетесь этим делом, сколько заказов выполнено, как пришли к решению начать этим заниматься?</p></li>
                <li><p class="order-text_para">Также желательны фотографии выполненных работ и фотографии сотрудников.</p></li>
            </ul>
        </div>

        <div class="order-text-article">
            <h4 class="order-text_title">Чем можно дополнить в будущем</h4>
            <ul>
                <li><p class="order-text_para">Улучшить текст, чтобы страница была на более высоких позициях в поисках Google и Yandex</p></li>
                <li><p class="order-text_para">Подключить виджет обратного звонка в течение 28 секунд, а также чат</p></li>
            </ul>
        </div>

        <div class="order-text-article">
            <h4 class="order-text_title">Будет выполнено:</h4>
            <ul>
                <li><p class="order-text_para">Дизайн сайта</p></li>
                <li><p class="order-text_para">Адаптивный сайт</p></li>
                <li><p class="order-text_para">Форма заказа звонка</p></li>
                <li><p class="order-text_para">Яндекс.Метрика для снятия статистики</p></li>
                <li><p class="order-text_para">Срок разработки: 7 дней</p></li>
                <li><p class="order-text_para">Способ оплаты: полная предоплата наличными или на карту</p></li>
                <li><p class="order-text_para">Если сайт не понравится - полный возврат средств за разработку.</p></li>
            </ul>
        </div>

        <div class="order-text-article">
            <h4 class="order-text_title">Стоимость</h4>
            <ul>
                <li><p class="order-text_para">3000 рублей: разработка сайта</p></li>
                <li><p class="order-text_para">150 рублей: доменное имя</p></li>
                <li><p class="order-text_para">500 рублей: настройка рекламной кампании в Яндекс.Директ</p></li>
            </ul>
        </div>
    </div>
</div>



<div class="order-example">
<h4 class="order-example_title">Набросок страницы</h4>
<p class="order-example_para">Сайт будет адаптивным. Верхнее меню будет приклеено сверху страницы. На главный банер будет установлена привлекательная фотография, продающий текст и форма обратной связи. Инфографика будет показывать приемущества: иконка + текст. Карточка товаров будет иметь название, описание услуги, фотографии в виде слайдов и стоимость. Форма обратной связи для заказа звонка. Описание компании и сотрудников. На контакта будет вся информация, по которой можно связаться и карта(по желанию).</p>
<img src="/img/Zabor.jpg" alt="" class="order-example_image">
</div>


<script src="js/application.min.js"></script>
</body>
</html>
