<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Superbog</title>

    <link href="/css/screen.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <ul class="header-navbar">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/skills.html">Навыки</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
</header>

<div class="order-header">
    <div class="header"></div>
    <h3 class="order-header_title">Заборы</h3>
</div>

<div class="order-container">
    <div class="order-text">
        <div class="order-text-article">
            <h4 class="order-text_title">Необходимые задачи</h4>
            <ul>
                <li><p class="order-text_para">Перечислить виды услуг</p></li>
                <li><p class="order-text_para">Для каждой услуги несколько фотографий, текст описания, срок выполнения работ, стоимость</p></li>
                <li><p class="order-text_para">Описать себя: сколько занимаетесь этим делом, сколько заказов выполнено, как пришли к решению начать этим заниматься?</p></li>
                <li><p class="order-text_para">Также желательны фотографии выполненных работ и фотографии сотрудников.</p></li>
            </ul>
        </div>

        <div class="order-text-article">
            <h4 class="order-text_title">Чем можно дополнить в будущем</h4>
            <ul>
                <li><p class="order-text_para">Улучшить текст, чтобы страница была на более высоких позициях в поисках Google и Yandex</p></li>
                <li><p class="order-text_para">Подключить виджет обратного звонка в течение 28 секунд, а также чат</p></li>
            </ul>
        </div>

        <div class="order-text-article">
            <h4 class="order-text_title">Будет выполнено:</h4>
            <ul>
                <li><p class="order-text_para">Дизайн сайта</p></li>
                <li><p class="order-text_para">Адаптивный сайт</p></li>
                <li><p class="order-text_para">Форма заказа звонка</p></li>
                <li><p class="order-text_para">Яндекс.Метрика для снятия статистики</p></li>
                <li><p class="order-text_para">Срок разработки: 7 дней</p></li>
                <li><p class="order-text_para">Способ оплаты: полная предоплата наличными или на карту</p></li>
                <li><p class="order-text_para">Если сайт не понравится - полный возврат средств за разработку.</p></li>
            </ul>
        </div>

        <div class="order-text-article">
            <h4 class="order-text_title">Стоимость</h4>
            <ul>
                <li><p class="order-text_para">3000 рублей: разработка сайта</p></li>
                <li><p class="order-text_para">150 рублей: доменное имя</p></li>
                <li><p class="order-text_para">500 рублей: настройка рекламной кампании в Яндекс.Директ</p></li>
            </ul>
        </div>
    </div>
</div>



<div class="order-example">
<h4 class="order-example_title">Набросок страницы</h4>
<p class="order-example_para">Сайт будет адаптивным. Верхнее меню будет приклеено сверху страницы. На главный банер будет установлена привлекательная фотография, продающий текст и форма обратной связи. Инфографика будет показывать приемущества: иконка + текст. Карточка товаров будет иметь название, описание услуги, фотографии в виде слайдов и стоимость. Форма обратной связи для заказа звонка. Описание компании и сотрудников. На контакта будет вся информация, по которой можно связаться и карта(по желанию).</p>
<img src="/img/Zabor.jpg" alt="" class="order-example_image">
</div>


<script src="js/application.min.js"></script>
</body>
</html>
